 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
		    <h4 class="text-center">Software</h4>
                    <p>I build web apps and command line tools to solve problems like finding influential Twitter followers, interacting with organic food enthusiasts, and analyzing genomes.</p>
                </div>
                <div class="col-lg-4">
		    <h4 class="text-center">Education</h4>
		    <p>I teach Python, version control, the command line, networks, and software engineering -- online and in person, from <a class="white-link" href="http://keikitech.org">grade school</a> to <a class="white-link" href="http://bruab.github.io/cs294_fall2015/">university</a>.</p>
                </div>
            </div>
        </div>
    </section>
