<hr />
<h2>Did you know ...</h2>
<p>This post is part of a series called <a href="/long-game-outreach">Long Game Outreach</a>.</p>
<p>Each issue contains scripts, strategies, or success stories to help you practice authentic, non-spammy outreach.</p>
<p>Subscribe and I'll send you a new post every few weeks.<p>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/you-have-to-learn-accounting-sorry"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/you-have-to-learn-accounting-sorry', 'popupwindow')"
  class="embeddable-buttondown-form"
  style="text-align:center;"
>
  <input type="email" name="email" id="bd-email" placeholder="Your email address"/>
  <input class="btn" type="submit" value="SUBSCRIBE" />
</form>
