<form action="https://submit-form.com/71slU1mID">
  <input
    type="hidden"
    name="_redirect"
    value="https://briandavidhall.com/newsletter-thanks/"
  />
  <input type="email" id="email" name="email" placeholder="Email" required="" />
  <input type="hidden" id="url" name="url" value="briandavidhall.com" />
  <button type="submit"><span>Subscribe</span></button>
</form>

<script>
document.getElementById('url').value = location.href;
</script>

<style>
  form {
    max-width: 700px;
    text-align: center;
  }
  form input {
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  form button {
    color: white;
    background-color: rgb(116, 192, 252);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
  }
  form button span {
    padding: 12px 24px;
    display: block;
  }
</style>
