<h4 id="footer-heading">Next time I write something like this, I'll let you know.</h4>
<p class="italic scrunched" id="footer-paragraph">Sign up and get a quick, skimmable update on what I'm publishing / recording / building / thinking, once a week.</p>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/briandavidhall"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/briandavidhall', 'popupwindow')"
  class="embeddable-buttondown-form"
  style="text-align:center;"
  id="newsletter-form"
>
  <input type="email" name="email" id="bd-email" placeholder="Your email address"/>&nbsp;
  <input class="btn" type="submit" value="Get Updates" />
</form>
