<h4>I'd really like to email you.</h4>
<p class="italic scrunched">Sign up and get a quick, skimmable update on what I'm writing / recording / building / thinking, once a week.</p>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/briandavidhall"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/briandavidhall', 'popupwindow')"
  class="embeddable-buttondown-form"
  style="text-align:center;"
>
  <input type="email" name="email" id="bd-email" placeholder="Your email address"/>&nbsp;
  <input class="btn" type="submit" value="Get Updates" />
</form>
