<div class="row">
  <center>
    <h3>
      <span id="service">Logo design</span> <strong>for</strong>
      <span id="niche">beet farms</span>
    </h3>
    <br />
  </center>
</div>
<center>
  <a class="btn primary-cta" href="#">GENERATE A NEW NICHE</a>
</center>

<br />

<script>
  var services = [
    "Branding Services",
    "Business Consulting",
    "Business Plans",
    "Career Counseling",
    "Customer Care",
    "E-Commerce Management",
    "Financial Consulting",
    "Flyer Distribution",
    "Game Concept Design",
    "HR Consulting",
    "Lead Generation",
    "Legal Consulting",
    "Market Research",
    "Presentations",
    "Project Management",
    "Supply Chain Management",
    "Virtual Assistant",
    "Album Cover Design",
    "AR Filters & Lenses",
    "Architecture & Building Design",
    "Architecture & Interior Design",
    "Book Design",
    "Brand Style Guides",
    "Brochure Design",
    "Building Information Modeling",
    "Business Cards & Stationery",
    "Car Wraps",
    "Cartoons & Comics",
    "Catalog Design",
    "Character Modeling",
    "Email Design",
    "Fashion Design",
    "Flyer Design",
    "Game Article",
    "Graphic Design",
    "Illustration",
    "Industrial & Product Design",
    "Infographic Design",
    "Invitation Design",
    "Jewelry Design",
    "Landscape Design",
    "Logo Design",
    "Menu Design",
    "Packaging Design",
    "Pattern Design",
    "Photoshop Editing",
    "Podcast Cover Article",
    "Portraits & Caricatures",
    "Postcard Design",
    "Poster Design",
    "Presentation Design",
    "Product & Characters Design",
    "Resume Design",
    "Signage Design",
    "Social Media Design",
    "Storyboards",
    "T-Shirts & Merchandise",
    "Tattoo Design",
    "Trade Booth Design",
    "Twitch Store",
    "Vector Tracing",
    "Web & Mobile Design",
    "Web Banners",
    "Affiliate Marketing",
    "Book & eBook Marketing",
    "Community Management",
    "Content Marketing",
    "Crowdfunding",
    "Display Advertising",
    "Domain Research",
    "E-Commerce Marketing",
    "Email Marketing",
    "Influencer Marketing",
    "Local SEO",
    "Marketing Strategy",
    "Mobile App Marketing",
    "Music Promotion",
    "Podcast Marketing",
    "Public Relations",
    "Search Engine Marketing (SEM)",
    "Search Engine Optimization (SEO)",
    "Social Media Advertising",
    "Social Media Marketing",
    "Surveys",
    "Text Message Marketing",
    "Video Marketing",
    "Web Analytics",
    "Web Traffic",
    "Audio Ads Production",
    "Audiobook Production",
    "Beat Making",
    "Dialogue Editing",
    "DJ Drops & Tags",
    "DJ Mixing",
    "Jingles & Intros",
    "Mixing & Mastering",
    "Music Transcription",
    "Online Music Lessons",
    "Podcast Editing",
    "Producers & Composers",
    "Remixing & Mashups",
    "Session Musicians",
    "Singers & Vocalists",
    "Songwriting",
    "Sound Design",
    "Synth Presets",
    "Vocal Tuning",
    "Voice Over",
    "Chatbots",
    "Convert Files",
    "Cybersecurity & Data Protection",
    "Data Analytics",
    "Data Entry",
    "Data Processing",
    "Data Science",
    "Data Visualization",
    "Database Confuguration",
    "Desktop Applications",
    "Development for Streamers",
    "E-Commerce Development",
    "Game Development",
    "Get Your Website in a Few Steps",
    "Mobile Apps",
    "Online Coding Lessons",
    "QA & Review",
    "Support & IT",
    "User Testing",
    "Web Programming",
    "Website Builders & CMS",
    "WordPress",
    "3D Product Animation",
    "Animated GIFs",
    "Animation for Kids",
    "Animation for Streamers",
    "App & Website Previews",
    "Article to Video",
    "Book Trailers",
    "Character Animation",
    "Drone Videography",
    "E-Commerce Product Videos",
    "eLearning Video Production",
    "Game Trailers",
    "Intros & Outros",
    "Live Action Explainers",
    "Local Photography",
    "Logo Animation",
    "Lottie & Website Animation",
    "Lyric & Music Videos",
    "Product Photography",
    "Real Estate Promos",
    "Screencasting Videos",
    "Short Video Ads",
    "Slideshow Videos",
    "Spokesperson Videos",
    "Subtitles & Captions",
    "Unboxing Videos",
    "Video Editing",
    "Visual Effects",
    "Whiteboard & Animated Explainers",
    "Ad Copy",
    "Articles & Blog Posts",
    "Beta Reading",
    "Book & eBook Writing",
    "Book Editing",
    "Brand Voice & Tone",
    "Business Names & Slogans",
    "Case Studies",
    "Cover Letters",
    "Creative Writing",
    "eLearning Content Development",
    "Email Copy",
    "Grant Writing",
    "Legal Writing",
    "LinkedIn Profiles",
    "Podcast Writing",
    "Press Releases",
    "Product Descriptions",
    "Proofreading & Editing",
    "Research & Summaries",
    "Resume Writing",
    "Sales Copy",
    "Scriptwriting",
    "Social Media Copy",
    "Speechwriting",
    "Technical Writing",
    "Transcripts",
    "Translation",
    "UX Writing",
    "Website Content",
    "White Papers",
  ];

  var niches = [
    "Animal Production",
    "Apple Growers",
    "Aquaculture",
    "Bean Farms",
    "Bee Keepers and Apiculture Supplies",
    "Beet Farms",
    "Cannabis Cultivators",
    "Cattle Ranching",
    "Commercial Fishing",
    "Crop Production",
    "Farm & Garden Equipment Wholesalers",
    "Farm Support Services",
    "Farms",
    "Farms in Alaska",
    "Farms in Michigan",
    "Fruit & Tree Nut Farms",
    "Grain Farms",
    "Hog And Pig Farms",
    "Nursery & Floriculture Production",
    "Oat Farms",
    "Oilseed Farms",
    "Peanut Farms",
    "Pet breeding - genetics research and services",
    "Poultry & Egg Production",
    "Sorghum Farms",
    "Sugarcane Farms",
    "Sunflower Farms",
    "Timber Operations",
    "Vegetable And Melon Farms",
    "Amusement Parks & Arcades",
    "Bowling Centers",
    "Crossfit Gyms",
    "Fitness Centers",
    "Gambling",
    "Golf Courses",
    "Improvisational Theater Companies",
    "Mini Golf Courses",
    "Museums ",
    "Museums, Zoos & Parks",
    "Opera Companies",
    "Performing Arts Centers",
    "Performing Arts Companies",
    "Pilates & Yoga Studios",
    "Professional Sports Teams & Organizations",
    "Skate Parks",
    "Ski Facilities",
    "Spa Services",
    "Talent & Modeling Agencies",
    "Zoos",
    "Drywall, Plaster, Acoustic & Insulation Contractors",
    "Electrical Contractors",
    "Electrical, Plumbing & Hardware Wholesalers",
    "Framing Contractors",
    "Heavy & Civil Engineering Construction",
    "Highway, Street, & Bridge Construction Contractors",
    "Lumber Wholesalers",
    "Masonry Contractors",
    "Nonresidential Building Construction",
    "Painting & Wall Covering Contractors",
    "Plumbing & HVAC Contractors",
    "Poured Concrete Foundation & Structure Contractors",
    "Power Line & Telecommunications Infrastructure Construction Contractors",
    "Residential Construction Contractors",
    "Residential Real Estate Development",
    "Roofing, Siding, & Sheet Metal Contractors",
    "Site Preparation Contractors",
    "Structural Steel & Precast Concrete Contractors",
    "Water & Sewer Utilities",
    "Coding Bootcamps",
    "Colleges & Universities",
    "Commercial Driving License Schools",
    "Community Colleges",
    "Cosmetology Schools",
    "Culinary Schools",
    "Education & Training Services",
    "HVAC Training Schools",
    "Private Schools K-12",
    "Public Schools K-12",
    "Welding Schools",
    "Coal Mining",
    "Copper & Nickel Mining",
    "Crude Petroleum Pipelines",
    "Electric Power Generation",
    "Electric Power Transmission, Distribution & Marketing",
    "Fossil Fuel Power Generation",
    "Gold & Silver Mining",
    "Hydroelectric Power Companies",
    "Metal Ore Mining",
    "Natural Gas Distribution & Marketing",
    "Natural Gas Pipelines",
    "Nonmetallic Mineral Mining & Quarrying",
    "Nuclear Power Generation",
    "Oil & Gas Exploration & Production",
    "Oil & Gas Field Services",
    "Oil & Gas Well Drilling",
    "Petroleum & Coal Products Manufacturing",
    "Petroleum & Petroleum Products Wholesalers",
    "Petroleum Refining",
    "Solar Power Generation",
    "Wind Power Generation",
    "Asset Management",
    "Auto Lending",
    "Banks & Credit Unions",
    "Consumer Lending",
    "Credit Cards",
    "Custodial & Trust Services",
    "Financial Planners & Investment Advisers",
    "Financial Transaction Processing",
    "Health Insurance Carriers",
    "Insurance Agencies & Brokerages",
    "Insurance Carriers",
    "Investment Banking",
    "Investment Firms",
    "Lending",
    "Life Insurance Carriers",
    "Management & Holding Companies",
    "Mortgage Banking",
    "Mutual Fund Management",
    "Property/Casualty Insurance Carriers",
    "Reinsurance Carriers",
    "Retirement & Pension Management",
    "Securities Brokerages",
    "Stock Exchanges",
    "Title Insurance Carriers",
    "Venture Capital",
    "Bakery Cafes",
    "Bars & Nightclubs",
    "Beer, Wine & Distilled Spirits Wholesalers",
    "Casual Restaurants",
    "Catering Services",
    "Coffee Shops",
    "Donut Shops",
    "Fast-Food & Quick-Service Restaurants",
    "Food Service Contractors",
    "Food Wholesalers",
    "Fresh Produce Wholesalers",
    "Grain & Field Bean Wholesalers",
    "Grocery Stores & Supermarkets",
    "Health Supplement Stores",
    "Juice Bars",
    "Mobile Food Services",
    "Restaurants",
    "Specialty Food Stores",
    "Federal Courts",
    "Federal government contractors with subcontracting plans",
    "Fire Departments",
    "Police Departments",
    "Political Parties",
    "US Municipal Governments",
    "Ambulance Services",
    "Ambulatory Health Care Services",
    "Anesthesiologists",
    "Cardiologists",
    "Child Care Services",
    "Chiropractors",
    "Continuing Care & Assisted Living Facilities",
    "Dentists",
    "Dermatologists",
    "Drug Wholesalers",
    "General Surgeons",
    "Home Health Care Services",
    "Hospitals",
    "Kidney Dialysis Centers",
    "Medical & Diagnostic Laboratories",
    "Medical Equipment & Supply Wholesalers",
    "Mental Health & Substance Abuse Services",
    "Mental Health Professionals",
    "Nursing Homes & Long-Term Care Facilities",
    "OBGYNs",
    "Oncologists",
    "Optometrists",
    "Outpatient Surgical Centers",
    "Pediatricians",
    "Physicians",
    "Podiatrists",
    "Rehabilitation Therapy Services",
    "Social Assistance",
    "Bed & Breakfast Inns",
    "Casino Hotels",
    "Hotels, Motels & Resorts",
    "Recreational & Vacation Camps",
    "Recreational Vehicle Parks",
    "Abrasives Manufacturing",
    "Aerospace Products & Parts Manufacturing",
    "Agricultural Chemical Manufacturing",
    "Agricultural Machinery Manufacturing",
    "Aircraft Engine & Parts Manufacturing",
    "Aluminum Production",
    "Apparel Accessories Manufacturing",
    "Apparel Manufacturing",
    "Architectural & Structural Metals Manufacturing",
    "Armored Military Vehicle Manufacturing",
    "Asphalt Products Manufacturing",
    "Audio & Video Equipment Manufacturing",
    "Automobile Manufacturing",
    "Automobile Parts Manufacturing",
    "Bakery Product Manufacturing",
    "Battery Manufacturing",
    "Biofuel Manufacturing",
    "Biotechnology Product Manufacturing",
    "Boat Building",
    "Breakfast Cereal Manufacturing",
    "Breweries",
    "Candy Manufacturing",
    "Carpet & Rug Manufacturing",
    "Cement & Concrete Product Manufacturing",
    "Chemical Manufacturing",
    "China & Earthenware Plumbing Fixture Manufacturing",
    "Clay Product & Refractory Manufacturing",
    "Coffee & Tea Manufacturing",
    "Commercial Printing",
    "Computer Manufacturing",
    "Computer Networking Equipment Manufacturing",
    "Computer Peripheral Equipment Manufacturing",
    "Construction Machinery Manufacturing",
    "Control, Electromedical, Measuring & Navigational Instruments Manufacturing",
    "Converted Paper Products Manufacturing",
    "Cookie & Cracker Manufacturing",
    "Dairy Products Manufacturing",
    "Data Storage Systems Manufacturing",
    "Diagnostic Substance Manufacturing",
    "Distilleries",
    "Edible Oils Manufacturing",
    "Electrical Products Manufacturing",
    "Electromedical, Electrotherapeutic & X-Ray Apparatus Manufacturing",
    "Electronic Component Wholesalers",
    "Electronic Inspection & Monitoring Instruments Manufacturing",
    "Electronic Test & Measurement Instruments Manufacturing",
    "Electronic Toys & Games Manufacturing",
    "Eyewear Manufacturing",
    "Fabricated Metal Product Manufacturing",
    "Fitness Equipment Manufacturing",
    "Food Manufacturing",
    "Food Product Machinery Manufacturing",
    "Footwear Manufacturing",
    "Fresh Prepared Foods",
    "Fruit & Vegetable Processing",
    "Furniture Manufacturing",
    "Glass & Glass Product Manufacturing",
    "Grain Milling",
    "Guided Missile & Space Vehicle Manufacturing",
    "Gun & Ammunition Manufacturing",
    "Handtool, Cutlery, & Flatware Manufacturing",
    "Hardware & Fastener Manufacturing",
    "Household Appliance Manufacturing",
    "HVAC Equipment Manufacturing",
    "Industrial Chemical Manufacturing",
    "Industrial Control Products Manufacturing",
    "Industrial Equipment Wholesalers",
    "Industrial Supply Wholesalers",
    "Jewelry Manufacturing",
    "Lawn & Garden Tractor & Equipment Manufacturing",
    "Lighting Equipment Manufacturing",
    "Linens Manufacturing",
    "Livestock & Other Animal Food Manufacturing",
    "Lumber & Plywood Product Manufacturing",
    "Machine Shops",
    "Machinery Manufacturing",
    "Magnetic & Optical Media Manufacturing",
    "Magnetic & Optical Media Manufacturing & Reproduction",
    "Manufactured Home Manufacturing",
    "Material Handling Equipment Manufacturing",
    "Mattress Manufacturing",
    "Meat Product Manufacturing",
    "Medical Equipment & Supplies Manufacturing",
    "Men's Clothing Manufacturing",
    "Metal Coating, Engraving & Heat Treating",
    "Metal Valve & Pipe Fitting Manufacturing",
    "Metalworking Machinery Manufacturing",
    "Motor & Generator Manufacturing",
    "Motorcycle Manufacturing",
    "Musical Instrument Manufacturing",
    "Nonalcoholic Beverage Manufacturing",
    "Nonmetallic Mineral Product Manufacturing",
    "Office Furniture, Fixtures & Equipment Manufacturing",
    "Office, School & Art Supplies Manufacturing",
    "Oil & Gas Field Equipment Manufacturing",
    "Paint & Coating Manufacturing",
    "Paper & Paper Products Manufacturing",
    "Personal Care Products Manufacturing",
    "Personal Computer Manufacturing",
    "Pet Food Manufacturing",
    "Pharmaceutical Manufacturing",
    "Photographic & Optical Equipment/Supplies Manufacturing",
    "Plastic & Rubber Product Manufacturing",
    "Plastic Resin & Synthetic Fiber Manufacturing",
    "Poultry Product Manufacturing",
    "Power-Driven Handtool Manufacturing",
    "Prefabricated Wood Building Manufacturing",
    "Primary Metals Manufacturing",
    "Printing Machinery & Equipment Manufacturing",
    "Pulp & Paper Mills",
    "Pump & Compressor Manufacturing",
    "Railroad Equipment Manufacturing",
    "Recreational Vehicle Manufacturing",
    "Recyclable Material Wholesalers",
    "Scientific & Technical Instruments Manufacturing",
    "Seafood Processing",
    "Search, Detection, Navigation & Guidance System Manufacturing",
    "Seasoning & Dressing Manufacturing",
    "Security Products Manufacturing",
    "Semiconductor & Other Electronic Component Manufacturing",
    "Semiconductor Equipment Manufacturing",
    "Shipbuilding & Repairing",
    "Sign Manufacturing",
    "Snack Foods Manufacturing",
    "Soap & Other Detergent Manufacturing",
    "Soft Drink Manufacturing",
    "Sporting Goods Manufacturing",
    "Steel Production",
    "Steel Service Centers & Other Metal Wholesalers",
    "Sugar Manufacturing",
    "Switch, Connector & Other Wiring Device Manufacturing",
    "Telecommunications Equipment Manufacturing",
    "Textile Manufacturing",
    "Tire Manufacturing",
    "Tobacco Product Manufacturing",
    "Toy & Game Manufacturing",
    "Transformer Manufacturing",
    "Transportation Equipment Manufacturing",
    "Truck & Bus Manufacturing",
    "Truck Trailer Manufacturing",
    "Turbine Manufacturing",
    "Vitamin, Nutritional Supplement & Other Health-Related Product Manufacturing",
    "Water & Ice Manufacturing",
    "Wineries",
    "Wireless Telecommunications Equipment Manufacturing",
    "Women's Clothing Manufacturing",
    "Wood Flooring Manufacturing",
    "Wood Product Manufacturing",
    "Wood Window & Door Manufacturing",
    "Book Publishers",
    "Business Intelligence Software",
    "Content & Document Management Software",
    "Development Tools, Operating Systems & Utilities Software",
    "Directory & Mailing List Publishers",
    "Education & Training Software",
    "Entertainment & Games Software",
    "Film & Video",
    "Greeting Card Publishers",
    "Internet Publishing, Broadcasting & Search Portals",
    "Libraries & Archives",
    "Magazine Publishers",
    "Managed Application & Network Services",
    "Motion Picture Production & Distribution",
    "Movie Theaters",
    "Multimedia, Graphics & Publishing Software",
    "Music Production & Distribution",
    "Newspaper Publishers",
    "Publishing",
    "Radio Broadcasting & Programming",
    "Special Effects & Other Video Post-Production Services",
    "Telecommunications Resellers",
    "Telecommunications Services",
    "Television Broadcasting",
    "TV Broadcast & Cable Networks",
    "TV Program Production & Distribution",
    "Wired Telecommunications Services",
    "Wireless Telecommunications Services",
    "Animal Welfare Organizations",
    "Food Banks",
    "Fraternal Societies",
    "Grantmaking Foundations",
    "Health Fund-Raising Organizations",
    "Homeowner Associations",
    "Labor Unions",
    "Southern Baptist Churches",
    "Commercial Real Estate Brokerage",
    "Commercial Real Estate Management",
    "Real Estate Investment Trusts (REITs)",
    "Residential Property Investment",
    "Residential Real Estate Brokerage & Management",
    "Self-Storage Services",
    "Art Dealers & Galleries",
    "Automobile Dealers",
    "Automotive Parts & Accessories Stores",
    "Beer, Wine & Liquor Stores",
    "Boat Dealers",
    "Bookstores",
    "Building Material Dealers",
    "Clothing Stores",
    "Consumer Electronics & Appliances Stores",
    "Consumer Product Rental",
    "Convenience Stores & Truck Stops",
    "Cosmetics, Beauty Supply & Perfume Stores",
    "Department Stores",
    "Discount Department Stores",
    "Dollar & Other General Merchandise Stores",
    "Drug Stores",
    "Florists",
    "Fuel Oil & LP Gas Dealers",
    "Furniture Stores",
    "Garden Centers & Farm Supply Stores",
    "Gas Stations",
    "Gift, Novelty & Souvenir Stores",
    "Home Centers & Hardware Stores",
    "Internet & Mail-Order Retail",
    "Internet Auctions",
    "Jewelry Stores",
    "Marijuana Stores",
    "Motorcycle Dealers",
    "Musical Instrument Stores",
    "Office Supply Stores",
    "Paint & Wallpaper Stores",
    "Pet & Pet Supplies Stores",
    "Recreational Vehicle Dealers",
    "Shoe Stores",
    "Sporting Goods Stores",
    "Tire Dealers",
    "Toy & Hobby Stores",
    "Used Merchandise Stores",
    "Vending Machine Operators",
    "Warehouse Clubs & Superstores",
    "Accounting Services",
    "Advertising & Marketing Services",
    "Advertising Agencies",
    "Architectural Services",
    "Armored Vehicle Services",
    "Automotive Body, Paint, Interior & Glass Repair",
    "Automotive Oil Change & Lubrication Services",
    "Automotive Repair & Maintenance Services",
    "Biotechnology Research Services",
    "Business & Professional Associations",
    "Business Service Centers & Copy Shops",
    "Car Washes",
    "Collection Agencies",
    "Credit Reporting Services",
    "Direct Marketing Services",
    "Electronic Equipment Repair Services",
    "Engineering Services",
    "Environmental Consulting Services",
    "Executive Search Services",
    "Exterminating & Pest Control Services",
    "Funeral Services",
    "Geophysical Surveying & Mapping Services",
    "Graphic Design Services",
    "Hair Care Services",
    "Hazardous Waste Services",
    "Human Resources Consulting Services",
    "Industrial Design Services",
    "Information Technology Services",
    "Interior Design Services",
    "Janitorial & Carpet Cleaning Services",
    "Landscaping Services",
    "Laundry Facilities & Dry Cleaning Services",
    "Legal Services",
    "Linen & Uniform Supply Services",
    "Market Research & Polling Services",
    "Nail Salons",
    "Outdoor Advertising",
    "Parking Lots & Garages",
    "Payroll Services",
    "Pet Care Services",
    "Photographic Services",
    "Professional Employer Organizations",
    "Public Relations Services",
    "Remediation & Environmental Cleanup Services",
    "Sales Promotion Services",
    "Scientific Research & Development Services",
    "Security Guard Services",
    "Security System Services",
    "Solid Waste Services & Recycling",
    "Staffing Services",
    "Surveillance, Investigation & Security Consulting Services",
    "Telephone Call Centers",
    "Testing Laboratories",
    "Trade Show & Event Planning Services",
    "Travel Agencies & Services",
    "Veterinary Services",
    "Weight Reduction Services",
    "Aircraft Leasing",
    "Aircraft Maintenance & Repair",
    "Airlines",
    "Airport Operations",
    "Automobile Rental & Leasing",
    "Bus Transportation Services",
    "Charter & Other Nonscheduled Air Transportation Services",
    "Coastal & Great Lakes Freight Transportation",
    "Commuter Rail Systems",
    "Cruise Ships",
    "Deep Sea Freight Transportation",
    "Express Delivery Services",
    "Freight Forwarding Services",
    "Information & Records Management Services",
    "Inland Water Freight Transportation",
    "Less-Than-Truckload Carriers",
    "Marinas",
    "Motor Vehicle Towing",
    "Moving Services",
    "Port, Harbor & Marine Terminal Management",
    "Postal Services",
    "Railroads",
    "Specialty Trucking",
    "Taxi & Limousine Services",
    "Tire Wholesalers",
    "Truck Rental & Leasing",
    "Trucking",
    "Truckload Carriers",
    "Urban Transit Systems",
    "Warehousing & Storage",
    "Water Transportation Services",
  ];

  // Add event listener for button click
  document.addEventListener(
    "click",
    function(event) {
      if (event.target.matches(".primary-cta")) {
        update();
      }
    },
    false
  );
  document.querySelector(".primary-cta").click(update);

  // Update placehlder niche
  update();

  function update() {
    console.log("update");
    var service = randomFromArray(services);
    var niche = randomFromArray(niches);

    document.getElementById("service").innerText = service;
    document.getElementById("niche").innerText = niche;
  }

  function randomFromArray(array) {
    return array[Math.floor(Math.random() * array.length)];
  }
</script>
