<div id="archives">
  <br />
  {% if include.category == nil %}
    {% for post in site.posts %}
    <li class="post-list-item">
      <span class="home-date">
        {{ post.date | date: site.theme_config.date_format }}»
      </span>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  {% else %}
    {% for post in site.categories[include.category] %}
    <li class="post-list-item">
      <span class="home-date">
        {{ post.date | date: site.theme_config.date_format }}»
      </span>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  {% endif %}
</div>
