<hr />
<h2>Did you know ...</h2>
<p>This post is part of a series called <a href="/someone-will-hate-it">Someone Will Hate It</a>.</p>
<p>Each issue is a quick inoculation against impostor syndrome.</p>
<p>Subscribe 👇 and I'll send you a new post every month or so.<p>
<form
  action="https://buttondown.email/api/emails/embed-subscribe/someone-will-hate-it"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/someone-will-hate-it', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Your email: </label>
  <input type="email" name="email" id="bd-email" />
  <input class="btn" type="submit" value="SUBSCRIBE" />
</form>
