<hr />
<h2>Did you know ...</h2>
<p>This post is part of a series called <a href="/we-dont-know-shit">We Don't Know Shit</a>.</p>
<p>Each issue helps track mis/disinformation in academic science, pop science, conventional wisdom, and wherever else you're exposed to bad and wrong ideas about the world.</p>
<p>Subscribe and I'll send you a weekly update, so you'll know when new articles come out.</p>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/briandavidhall"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/briandavidhall', 'popupwindow')"
  class="embeddable-buttondown-form"
  style="text-align:center;"
>
  <input type="email" name="email" id="bd-email" placeholder="Your email address"/>
  <input class="btn" type="submit" value="SUBSCRIBE" />
</form>
