.btn {
  border: none;
  background-color: #74C0FC;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

input[type="email"] {
  background: #f2f2f2;
  border: none;
  padding: 12px;
  border-radius: 3px;
  font-size: 14px;
  width: 250px;
}

p img {
  width: 80%;
}
