---
layout: default
---

<header class="site-masthead">
  {% include menu.html %}
  <h1>
    {{ site.title }}
  </h1>
</header>

<main class="home" id="main" role="main" aria-label="Content">

  <center>
    <div>
      <p>I write <a href="/books">books</a> and <a href="/blog">blog posts</a>. I'm working on an <a href="/cotodo">app</a>. Sometimes I make <a href="/websites">websites</a>, <a href="/courses">courses</a>, and <a href="/videos">videos</a>.</p>
      <p class="smaller"><em>Support my work at any level (even just $1) and get instant access to all my books, courses, videos, and apps—past, present, and future.</em></p>
      <br />
    </div>
    <div>
      <div style="margin-bottom: 32px;">
        <a class="cta" href="https://www.amazon.com/dp/B0BVSXB5W7">Get access</a>
      </div>

      <div>
        <select onchange="onSelectChange(this.value)">
          <option value="" selected disabled hidden>Do something else</option>
          <option value="https://www.amazon.com/dp/B0BVSXB5W7">Buy my book from Jeff Bezos)</option>
          <option value="/about">Read (a little) more about me</option>
          <option value="/anonymous-feedback/">Send me an anonymous message</option>
        </select>
      </div>
    </div>
  </center>

</main>

<script type="text/javascript">
function onSelectChange(val) {
  location = val;
}
</script>

